h2{
	font-size: 2em;
}
html{
	background-color: #1a967d;

}
header{
		text-align: center;
		color: #734d1e;
		background-color: grey;
		width : 750px;
		padding-bottom: 20px;
	 	margin-right : 1000px;
	 	position: relative;
	 	z-index: 4;
	 	
}
.Titre
{
	text-align: center;
	color: white;
	background-color: #734d1e;
	width: 750px;
	margin-right: 1000px;
	margin-top : 10px;
	height: 30px;
	position: relative;
	z-index: 3;
	word-spacing: 10px;
	

}

.Texte
{
	text-align: left;
	background-color: #bbc4c2;
	width: 541px;
	height: 634px;
	float: left;
	margin-left: 202px;
	margin-right: 2px;
	margin-top: -555px;
	padding-right: 5px;
	padding-left: 2px;
	padding-bottom: 5px;
	position: relative;
	text-align: justify;
	z-index: 2;

}
h4
{
	text-decoration: underline;
	color: #734d1e;
	padding-left: 5px;

}
.body
{
	background-color: #bbc4c2;
	width: 200px;
	margin-left: 140px;
	height: 798px;
	border-right: 2px dotted black;
	margin-right: auto;
	
}

nav
{
	padding-left: 10px;
	z-index: 1;
	
}
img
{
	width: 150px;
	margin-left: 15px;
	float: left;
}
h5
{
	color: #734d1e;
	padding-left: 5px;
}
h6
{
	text-decoration: underline;
	font-size: 15px;
}
.paragraphe
{
	color: black;
	padding-left: 5px;
	padding-bottom: -15px;

	
}
footer
{
	background-color: #734d1e;
	width: 750px;
	height: 130px;
	margin-top: 84px;
	color: white;
	list-style: none;
}
.colonne1
{
	list-style: none;
	float: left;
	text-decoration: underline;
	margin-top: -10px;


}
.colonne2
{
	list-style: none;
	padding-left: 200px;

}
.colonne3
{
	list-style: none;
	float: right;
	margin-top: -150px;
	margin-right: 70px;
}
.liste
{
	list-style: none;
}
@media all and (max-width: 1050px;)
{
	html
	{
		width: auto;
		font-size: 0.5em;
	}
}